body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.meta {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

aside h2 {
    font-weight: normal;
}

.page {
    width: min(100%, 1000px);
}

.article, .list {
    flex-grow: 1;
}

.title div {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

blockquote {
    border-left: 1px solid gray;
    padding-left: 4px;
}

code > .keyword {
    font-weight: bold;
}

code > .string {
    color: darkred;
}

code > .number {
    color: darkblue;
}

code > .macro {
    color: darkviolet;
}

code > .comment {
    color: gray;
    font-style: italic;
}

code > .command {
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
    padding-left: 2em;
    overflow-x: scroll;
    padding-bottom: 8px;
    margin-bottom: -8px;
}

pre {
    white-space: pre;
}

pre::before {
    counter-reset: listing;
}

pre code {
    counter-increment: listing;
    border-left: 1px solid rgb(128, 128, 128);
    padding-left: 4px;
}

pre:not(.noline) code::before {
    content: counter(listing);
    display: inline-block;
    text-align: right;
    color: rgb(128, 128, 128);
    width: 2em;
    position: relative;
    margin-right: 1em;
    margin-left: -3em;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    font: italic smaller sans-serif;
    text-align: center;
}

p {
    text-indent: 10px;
}

ul.task-list {
    list-style: none;
}

li.checked::before {
    content: "☒";
    margin-left: -1.5em;
    float: left;
}

li.unchecked::before {
    content: "☐";
    margin-left: -1.5em;
    float: left;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

tr > * {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
}

.heading-anchor:link, .heading-anchor:visited, .heading-anchor:active {
    color: black;
    text-decoration: none;
}

.heading-anchor:hover {
    text-decoration: underline;
}

.heading-anchor:hover > h1::before,
.heading-anchor:hover > h2::before,
.heading-anchor:hover > h3::before,
.heading-anchor:hover > h4::before,
.heading-anchor:hover > h5::before,
.heading-anchor:hover > h6::before {
    content: '#';
    position: absolute;
    left: -1em;
}

.secret {
    color: white
}