body {
    display: flex;
    justify-content: center;
}

.meta {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

aside h2 {
    font-weight: normal;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: min(100%, 1000px);
}

.article, .list {
    flex-grow: 1;
}

.title div {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

.title::after {
    display: block;
    content: ' (date: ' attr(date) ') ';
    color: gray;
    font-family: monospace;
    font-weight: normal;
}

blockquote {
    border-left: 4px solid gray;
    padding-left: 8px;
}

code > .keyword {
    font-weight: bold;
}

code > .string {
    color: darkred;
}

code > .number {
    color: darkblue;
}

code > .macro {
    color: darkviolet;
}

code > .comment {
    color: gray;
    font-style: italic;
}

code > .command {
    font-weight: bold;
}

pre {
    border-left: 4px solid gray;
    padding-left: 8px;
    white-space: pre-wrap;
}

pre {
    white-space: pre-wrap;
}

pre::before {
    counter-reset: listing;
}

pre code {
    counter-increment: listing;
}

pre code::before {
    content: counter(listing) ". ";
    display: inline-block;
    width: 2em;
    margin-left: auto;
    text-align: right;
    color: gray;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    font: italic smaller sans-serif;
    text-align: center;
}

p {
    text-indent: 10px;
}

ul.task-list {
    list-style: none;
}

li.checked::before {
    content: "☒";
    margin-left: -1.5em;
    float: left;
}

li.unchecked::before {
    content: "☐";
    margin-left: -1.5em;
    float: left;
}