<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="{{ .Meta.Author }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Meta.BlogName }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="page">
    <div class="meta">
        <header>
            <h2><a href="{{ .Meta.Root }}">{{ .Meta.BlogName }}</a></h2>
        </header>
        <aside>
            <h2><a href="about.html">about</a></h2>
        </aside>
    </div>
    <p>
        I'm Nikita Sivukhin, a software developer with experience in <code>C#</code>, <code>Go</code> and a strong background in algorithms.
    </p>
    <p>
        You can find my CV here: <a download href="static/sivukhin_cv.pdf">sivukhin_cv.pdf</a>
    </p>
    <hr/>
    <div class="footer">
        <p><a href="https://github.com/sivukhin/sivukhin.github.io">blog on github</a> (made with <a href="https://github.com/sivukhin/godjot">godjot</a> and <a href="https://github.com/sivukhin/gopeg">gopeg</a>)</p>
    </div>
</div>
</body>
</html>