<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="{{ .Meta.Author }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="page">
    <div class="meta">
        <header>
            <h2><a href="/">{{ .Meta.BlogName }}</a></h2>
        </header>
    </div>
    <div class="article">
{{ .Content }}</div>
    <hr/>
    <div class="footer">
        <p><a href="https://github.com/sivukhin/sivukhin.github.io">github link</a> (made with <a href="https://github.com/sivukhin/godjot">godjot</a> and <a href="https://github.com/sivukhin/gopeg">gopeg</a>)</p>
    </div>
</div>
</body>
</html>