#gallery {
    padding: 20px;
    width: auto;
    overflow-x: scroll;
}

.images {
    text-align: center;
    white-space: nowrap;
    margin: auto;
}

.preview_pane {
    display: inline-block;
}

#scroll_area {
    margin: auto;
}

.scroll {
    height: 2em;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    width: 45%;
}

#scroll_left {
    float: left;
}
#scroll_left:after {
    content: '←';
}
#scroll_right {
    float: right;
}
#scroll_right:after {
    content: '→';
}


.scroll:hover {
    background-color: #d0dfe3;
    cursor: pointer;
}

@media (max-width: 600px) {
    .preview_pane, .images {
        display: block;
        margin: auto;
    }
    #gallery img {
        max-width: 100%;
    }
    
    .scroll {
        display: none;
    }
}

.view_panel {
    display: none;
    position: fixed;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(10, 10, 10, 0.8);
}

.view_panel:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#gallery .images img {
    max-height: 200px;
    cursor: pointer;
}

.wrapper, #selected_image {
    display: inline-block;
    vertical-align: middle;
    max-height: 70vh;
    max-width: 70vw;
}

#selected_image {
    border: 3px solid #9a9a9a;
}

#bound_wrapper {
    display: inline-block;
    vertical-align: bottom;
    height: 70vh;
    margin-bottom: 15vh;
}

.view_scroll {
    position: fixed;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0px;
    bottom: 0px;
    height: 100vh;
    width: 14vw;    
    line-height: 100vh;
    font-size: 10vh;
}

#view_scroll_left:after {
    content: '←';
}

#view_scroll_right:after {
    content: '→';
}

.view_scroll:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    cursor: pointer;
}

#view_scroll_left {
    left: 0px;
}

#view_scroll_right {
    right: 0px;
}

#selected_image {
    
}

#loading {
    display: none;
}
