#logo {
    width: 60px;
    height: 60px;
    min-width: 60px;
    position: relative;
}

#logo table {
    background-color: #f7f7f7;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
}

#logo td {
    background-color: #ee3e64;
}

#logo tr:nth-child(2) td:nth-child(2n+1) {
    background-color: #44accf;
}

#logo td:nth-child(2n+1) {
    background-color: #b7d84b;
}

#logo tr:nth-child(2) td:nth-child(2) {
    background-color: gray;
}

#jake {
    right: -20px;
    top: -10px;
    position: absolute;
    width: 50px;
}
