.quiz_image {
    max-width: 100%;
}

.quiz_area {
    display: none;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.quiz_area:first-child {
    display: inline-block;
}

.quiz_area input {
    margin-top: 5px;
    width: 50%;
    font-size: 1.3em;
    text-align: center;
}

@media (max-width: 550px) {
    .quiz_area input {
        width: 90%;
    }
}
